<script>
import { Machine } from "xstate";
import { useMachine } from "@xstate/vue";

// Visualisation: https://xstate.js.org/viz/?gist=5c49d4a66ea82d970671abecce978252
const formMachine = Machine({
  id: "siteProfileForm",
  initial: "notSubmittable",
  states: {
    notSubmittable: {
      on: { FORM_COMPLETE: "submittable" },
    },
    submittable: {
      initial: "siteNotValidated",
      states: {
        siteNotValidated: {},
        siteValidated: {},
      },
      on: {
        SUBMIT: "submitted",
        FORM_INCOMPLETE: "notSubmittable",
        TOGGLE_SITE_VALIDATION: "validateTargetSite",
      },
    },
    submitted: {},
    validateTargetSite: {
      initial: "idle",
      states: {
        idle: {
          on: {
            VALIDATION_START: "validationInProgress",
          },
        },
        validationInProgress: {
          on: {
            VALIDATION_SUCCESS: "#siteProfileForm.submittable.siteValidated",
            VALIDATION_FAILURE: "validationFailure",
          },
        },
        validationFailure: {
          on: {
            VALIDATION_RETRY: "idle",
          },
        },
      },
      on: {
        TOGGLE_SITE_VALIDATION: "#siteProfileForm.submittable",
      },
    },
  },
});

export default {
  data() {
    return {
      form: {
        val: "",
        val2: "",
      },
    };
  },
  watch: {
    form: {
      handler: "checkIfValid",
      deep: true,
    },
  },
  methods: {
    checkIfValid() {
      const {
        $refs: { form },
      } = this;

      this.send(form.checkValidity() ? "FORM_COMPLETE" : "FORM_INCOMPLETE");
    },
    async validateTargetSite() {
      this.send("VALIDATION_START");

      await new Promise((resolve) => setTimeout(resolve, 1000));

      this.send("VALIDATION_SUCCESS");
    },
  },
  mounted() {
    this.checkIfValid();
    this.send("TOGGLE_SITE_VALIDATION");
  },
  setup() {
    const { state, send } = useMachine(formMachine);
    return {
      state,
      send,
    };
  },
};
</script>

<template>
  <div>
    <form
      v-if="!state.matches('submitted')"
      ref="form"
      @submit="send('SUBMIT')"
    >
      <fieldset>
        <legend>Some form</legend>
        <input v-model="form.val" type="text" required />
        <input v-model="form.val2" type="url" required />
        <label>
          <input
            @change="send('TOGGLE_SITE_VALIDATION')"
            type="checkbox"
            :disabled="state.matches('notSubmittable')"
          />
          Validate
        </label>
      </fieldset>
      <fieldset v-if="state.matches('validateTargetSite')">
        <legend>Validate Target Site</legend>
        <input type="text" />
        <button type="button" @click="validateTargetSite">Validate</button>
        {{
          state.matches("validateTargetSite.validationInProgress")
            ? "validating..."
            : ""
        }}
      </fieldset>
      <span v-if="state.matches('submittable.siteValidated')">
        Site validated
      </span>
      <button :disabled="!state.matches('submittable')">
        Submit
      </button>
    </form>
    <p v-else>
      Done!
    </p>
  </div>
</template>
